/* Stylesheet for Basic and Phone Width Devices */

html {
	height: 					100%;
	width:						100%;
}

body {
	height: 					100%;
	min-height:					100%;
	background: #523620;
}

.wrapper {
	/*position: relative;*/
	height: 100%;
	/*overflow:hidden;*/
	width: 100%;
}

/* Sidebar */
.sidebar {
	background: #3a2514;
	background: -moz-repeating-linear-gradient(
		to right,
		#3a2514,
		#3a2514 67px,
		#86332d 67px,
		#86332d 134px,
		#b1963b 134px,
		#b1963b 201px
	);
	background: -o-repeating-linear-gradient(
		to right,
		#3a2514,
		#3a2514 67px,
		#86332d 67px,
		#86332d 134px,
		#b1963b 134px,
		#b1963b 201px
	);
	background: -webkit-repeating-linear-gradient(
		to right,
		#3a2514,
		#3a2514 67px,
		#86332d 67px,
		#86332d 134px,
		#b1963b 134px,
		#b1963b 201px
	);
	background: repeating-linear-gradient(
		to right,
		#3a2514,
		#3a2514 67px,
		#86332d 67px,
		#86332d 134px,
		#b1963b 134px,
		#b1963b 201px
	);
	-webkit-box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, .75);   
    box-shadow:  0px 0px 10px 0px rgba(0, 0, 0, .75);
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=90, Color='#000000');
	overflow: hidden;
	position: fixed;
	height: 120%;
	width: 200px;
	left: -160px;
	z-index: 20;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.sidebar.open {
	left: 0;
}
.sidebar .navbar-toggle {
	border-color: #FFF;
	margin: 5px;
	padding: 6px;
}
.sidebar .navbar-toggle .icon-bar {
	background-color: #FFF;
	width: 15px;
}
.sidebar .navbar-toggle .glyphicon.glyphicon-remove {
	display: none;
}
.sidebar.open .navbar-toggle .icon-bar {
	display: none;
}
.sidebar.open .navbar-toggle .glyphicon.glyphicon-remove {
	display: block;
	color: #FFF;
	width: 15px;
	top: 0;
}
.sidebar > ul {
	margin: 30px 0 0 0;
	padding: 0 15px;
}
.sidebar ul li {
	list-style: none;
	font-family: 'Roboto', Verdana, Geneva, Tahoma, Geneva, sans-serif;
	font-weight: 700;
	color: #FFF;
	list-style: none;
}
.sidebar ul li ul {
	padding: 0 0 0 10px;
	font-size: 13px;
}
.sidebar a {
	color: #FFF;
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    line-height: 1.75;
}
.sidebar a:hover {
	color: #D5C6B4;
	text-decoration: none;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 120%;
    height: 120%;
    background: rgba(0, 0, 0, 0.5);
}

/* Header */
.header {
	background: url(../img/header-bg.gif) top center no-repeat;
	height: 135px;
	overflow: hidden;
	margin-left: 40px;
}
.header a {
	font-family: 'Roboto', Verdana, Geneva, Tahoma, Geneva, sans-serif;
	font-weight: 900;
	text-align: center;
	display: block;
	color: #FFF;
	text-decoration: none;
}
.header .site-title {
	font-size: 25px;
	margin-top: 15px;
	line-height: 50px;
	margin-bottom: 25px;
}
.header .site-subtitle {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 20px;
	line-height: 30px;
}

/* Content */
.content {
	background-color: #FFFFFF;
	font-family: Tahoma, Geneva, sans-serif;
	padding: 20px 10px;
	margin-left: 40px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#000000');
	/*margin-right: 15px;*/
	overflow-x: hidden; 
}
.content h1, .content .h1 {
	font-family: 'Droid Serif', "Times New Roman", Times, serif;
	font-weight: 700;
	/*font-size: 1.375em;*/ /* 1.375em * 16px = 22px */
	margin-top: 0;
	margin-bottom: 1em;
}
.content h2, .content .h2 {
	font-family: 'Droid Serif', "Times New Roman", Times, serif;
	font-weight: 700;
	color: #86332d;
	/*margin-top: 0;
	margin-bottom: .5em;*/
}
.content h3, .content .h3 {
	font-family: 'Roboto', Tahoma, Geneva, sans-serif;
	font-weight: 700;
	/*margin-top: 0;
	margin-bottom: .73em;*/
}
.content a {
	color: #B1963B;
	text-decoration: none;
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}
.content a:hover, .content a:focus {
	color: #523620;
	text-decoration: none;
}
.content .btn.btn-default {
	background-color: #B1963B;
	color: #FFF;
	border-color: #86332d;
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;

}
.content .btn.btn-default:hover {
	background-color: #523620;
}
.content .tagline {
	margin-top: 20px;
	text-align: center;
	color: #555;
	clear: both;
}

/* Footer */
.footer {
	margin: 20px 20px 20px 74px;
	color: #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	text-align: center;
}
.footer p {
	margin-bottom: 2px;
	font-size: 12px;
}
.footer a {
	color: #b3716c;
	text-decoration: none;
}

/* Admin */
.page.admin .navbar {
	margin-top: 20px;
	background-color: #FFFFFF;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#000000');
}
.page.admin .content {
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=120, Color='#000000');
	margin-left: 0;
}
.input-group[class*=col-] {
	padding-left: 15px;
	padding-right: 15px;
}
.page.admin .content .note-editor {
	/*min-height: 200px;*/
}

/* Calendar */
.calendar>thead>tr>th, 
.calendar>tbody>tr>th, 
.calendar>tfoot>tr>th, 
.calendar>thead>tr>td, 
.calendar>tbody>tr>td, 
.calendar>tfoot>tr>td {
	padding: 8px 3px;
}
.calendar>thead>tr>th {
	font-size: 12px;
	padding-left: 5px;
	padding-right: 5px;
}
.calendar td {
	width: 14.284%;
	overflow: hidden;
}
.calendar td.not-this-month {
	color: #ccc;
}
.calendar td a.cal-event {
	display: block;
	cursor: pointer;
	font-size: 8px;
	margin-bottom: 5px;
	overflow: hidden;
	white-space: nowrap;
    text-overflow:ellipsis;
	max-width: 30px;
}

/* Modals */
.date-info h3 {
	margin-top: 0;
}
.featherlight-next, .featherlight-previous {
	opacity: .5;
	width: 15%;
	top: 35px;
	bottom: 35px;
}
.featherlight-next span, .featherlight-previous span {
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	font-size: 30px;
	line-height: normal;
	margin-top: -20px;
	width: 57px;
	/*left: 0;*/
	display: block;
}
.featherlight-previous {
	background: none;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0.5) 0,rgba(0, 0, 0, 0.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 0, 0, 0.5)),to(rgba(0, 0, 0, 0.0001)));
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0.5) 0,rgba(0, 0, 0, 0.0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
	left: 35px;
	right: auto;
}
.featherlight-next {
	background: none;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0.0001) 0,rgba(0, 0, 0, 0.5) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 0, 0, 0.0001)),to(rgba(0, 0, 0, 0.5)));
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0.0001) 0,rgba(0, 0, 0, 0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
	right: 35px;
	left: auto;
}
.featherlight-next:hover, .featherlight-previous:hover {
	opacity: 1;
	background: none;
}
.featherlight-previous:hover {
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0.5) 0,rgba(0, 0, 0, 0.0001) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 0, 0, 0.5)),to(rgba(0, 0, 0, 0.0001)));
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0.5) 0,rgba(0, 0, 0, 0.0001) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
	background-repeat: repeat-x;
}
.featherlight-next:hover {
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0.0001) 0,rgba(0, 0, 0, 0.5) 100%);
	background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
	background-image: -webkit-gradient(linear,left top,right top,from(rgba(0, 0, 0, 0.0001)),to(rgba(0, 0, 0, 0.5)));
	background-image: linear-gradient(to right,rgba(0, 0, 0, 0.0001) 0,rgba(0, 0, 0, 0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
	background-repeat: repeat-x;
}
.featherlight-next span.glyphicon, .featherlight-previous span.glyphicon {
	display: inline-block;
	margin-top: 0;
}
.featherlight:last-of-type {
	background: rgba(0, 0, 0, 0.5);
	z-index: 40;
}
.featherlight .featherlight-content {
	padding: 35px;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	margin: 30px auto;
	vertical-align: top;
}
.featherlight .featherlight-close-icon {
	font-weight: 700;
	opacity: .2;
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
	font-size: 21px;
	line-height: 1;
	width: auto;
	top: 15px;
	right: 15px;
}
.featherlight .featherlight-close-icon:hover {
	opacity: .5;
}
button.close {
	font-family: 'Droid Sans', Arial, Helvetica, sans-serif;
}
.modal .date-info strong.day-count {
	display: none;
}
.modal .date-info .cal-event {
	margin-bottom: 10px;
}
.modal .date-info .cal-event .event-title {
	font-weight: bold;
}
/* Animation */
.modal {
    /*! adjust transition time */
    -webkit-transition: all ease-out !important;
    -moz-transition: all 0.1s ease-out !important;
    -o-transition: all 0.1s ease-out !important;
    transition: all 0.1s ease-out !important;
}
.modal.in .modal-dialog {
    /*! editthis transform to any transform you want */
    -webkit-transition: all ease-in !important;
    -moz-transition: all 0.1s ease-in !important;
    -o-transition: all 0.1s ease-in !important;
    transition: all 0.1s ease-in !important;
    /*-webkit-transform: scale(1.1, 1.1) !important;
    -ms-transform: scale(1.1, 1.1) !important;
    transform: scale(1.1, 1.1) !important;*/
}
.modal.fade .modal-dialog {
    /*! disable sliding from left/right/top/bottom */
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

/* Page Styles */
.carousel .carousel-inner a {
	display: block;
}
.content .item img, .img-border {
	border: solid 2px #523620;
}
.carousel {
	max-width: 604px;
}
.content a.carousel-control {
	color: #FFF;
}
a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
	border-color: #523620;
}
.page-links {
	margin-left: 0;
}
.page-links li:before{
	content: '\00a0\2022\00a0\00a0';
	padding: 0 10px 0 0;
}
.page-links li:first-child:before {
	content: "";
	padding: 0;
}
.page-links li:first-child {
	padding-left: 0;
}
.caption {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 2px;
}
.form .error-label {
    display: none;
    margin-bottom: 0;
}
.form .has-error .form-control {
    border-color: #A94442;
}
.form .has-error .error-label {
    display: inline-block;
}
.iframe-map {
	width: 100% !important;
	height: 100% !important;
	max-height: 350px;
	min-height: 300px;
}
.img-group {
	margin-bottom: 10px;
}
.img-group img {
	max-height: 200px;
	border: #090 4px solid;
}
.img-aside-sm {
	width: 100%;
}
.pointer {
	cursor: pointer;
}
.margin-top-15 {
	margin-top: 15px;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}
.margin-right-15 {
	margin-right: 15px;
}
.margin-left-15 {
	margin-left: 15px;
}
.padding-top-0, .form-horizontal .padding-top-0 {
	padding-top: 0;
}

